{% extends 'GimCoder/base.html'%}
    {%  load static %}


{% block main_content %}
<p></p>
<h1> Clientes </h1>
<p></p>
<form action="/formclientes/" method="get">
    <input type="submit" value="Nuevo Cliente" />
</form>
<p></p>
<p></p>
<h3>Buscar Cliente:</h3>

<form action="/clientes/" method="get">

    <input type="text" name="nombre" id="cliente">
    <p></p>
    <input type="submit" value="Buscar">
    
</form>

<p></p>

{% if cliente %}

cliente encontrado:

{{cliente.nombre}} {{cliente.apellido}}

{% endif %}
<p></p>







{% endblock main_content %}]