{% extends 'GimCoder/base.html'%}
{%  load static %}


{% block main_content %}
<p></p>
<h1> Profesores </h1>
<p></p>
<form action="/formprofesores/" method="get" >
    <input type="submit" value="Nuevo Profesor" />
</form>
<p></p>
<p></p>

<h3>Buscar Profesor:</h3>

<form action="/profesores/" method="get">

    <input type="text" name="nombre" id="nombre">
    <p></p>
    <input type="submit" value="Buscar">
    
</form>

{% if profesor %}
<p></p>
<h4>Profesor encontrado:</h4>
<p></p>
<h5>{{profesor.nombre}} {{profesor.apellido}}</h5>
<p></p>
<p>Turno: {{profesor.turno}}</p>
<p></p>

{% endif %}
<p></p>



{% endblock main_content %}]